<div class="container">
  <div style="width: 100%; height: 1px; border-top: 1px solid gray"></div>
  <h2>Understanding Directives In Angular</h2>

  <!-- *ngIf directive example -->
  <div *ngIf="loggedIn; else logoutTemplate">
    <h3>Welcome back, User!</h3>
  </div>

  <ng-template #logoutTemplate>
    <h3>You have successfully logged out.</h3>
  </ng-template>

  <button (click)="handleLogout()" *ngIf="loggedIn">Logout</button>
  <button (click)="handleLogin()" *ngIf="!loggedIn">Login</button>

  <!-- *ngFor directive example -->
  <ul *ngIf="loggedIn">
    <li *ngFor="let user of users">{{ user.name }} - {{ user.age }}</li>
  </ul>

  <div style="width: 100%; height: 1px; border-top: 1px solid gray"></div>
  <!-- ngSwitch directive example -->
  <div [ngSwitch]="userRole">
    <div *ngSwitchCase="'admin'">Admin Dashboard</div>
    <div *ngSwitchCase="'user'">User Dashboard</div>
    <div *ngSwitchDefault>Guest Dashboard</div>
  </div>

  <button (click)="handleChangeRole('admin')">Change Role to Admin</button>
  <button (click)="handleChangeRole('user')">Change Role to User</button>
  <button (click)="handleChangeRole('guest')">Change Role to Guest</button>
</div>
